*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*DEBUG*/

.debug header{
    width: 100%;
    height: 200px;
    border: 4px double blue;
}

.debug header div{
    padding: 20px;
}

.bar{
    border: 2px solid green;
    margin-top: 10px;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    height: 175px;
}

.bar .top-bar{
    width: 200px;
    height: 60px;
    border: 1px solid red;
    margin-bottom: 15px;  
}

.bar .bottom-bar{
    width: 600px;
    height: 70px;
    border: 1px solid red;
}

.bar .top-bar img{
    width: 70%;
    height: 100%;
}

.bar .bottom-bar nav{
    width: 75px;
    height: 40px;
    border: 1px solid black;
    margin-top: 3%;
    margin-left: 2%;
    float: left;
}

.debug main{
    width: 100%;
    height: 850px;
    border: 4px double blue;
}

.main-top{
    border: 2px solid green;
    margin-top: 10px;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    height: 350px;
}

.main-top h2{
    border: 2px solid red;
    margin-top: 150px;
    margin-left: 5%;
    margin-right: 15%;
    width: 20%;
    height: 55px;
}

.main-top p{
    border: 2px solid red;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 15%;
    width: 20%;
    height: 55px;

}

.main-bottom{
    border: 2px solid green;
    margin-top: 10px;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    height: 450px;
}

.main-bottom div h1{
    border: 2px solid red;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 15%;
    width: 20%;
    height: 55px;
}

.main-bottom div span{
    display: block;
    border: 2px solid red;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 15%;
    width: 20%;
    height: 55px;
}

.debug footer{
    width: 100%;
    height: 150px;
    border: 4px double blue;

}

.greets{
    border: 2px solid red;
    margin-top: 10px;
    margin-left: 17%;
    margin-right: 15%;
    width: 20%;
    height: 55px;
}